<section id="header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8">
				<%= image_tag 'logo.png', alt:'Logo'%>
			</div>
			<div class="col-md-4">
				<h2 class="text-right">Menu</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2 white">
				<p>
					"One thing I learned working at magazines was that if you couldn't get people to look at a page or a cover, then you were fired.”
					<br><br>
					-Barbara Kruger
				</p>
			</div>
		</div>
	</div>
</section>

<section id="about">
	<div class="margin-lr-100 white-bg padding-lr-50">
		<div class="row">
			<div class="col-md-6">
				<a href="#" class="rotate blog-link pink">Read My Mind</a>
				<div class="pink-divide rotate"></div>
				<%= image_tag 'self.png', alt:'Kristiana Vellucci Illustration', class:'center' %>
			</div>
			<div class="col-md-6 padding-100">
				<h2 class="dark-grey">Hey, I'm Kristiana! Welcome to my portfolio!</h2>
				<div class="pink-divide"></div>
				<p>
					Clearly I don’t do very much because my current site kind of sort of really doesn’t exist. Maybe one day I’ll actually do work on my personal site. I’ll be in Europe until the middle of May. I’m mentioning that here so when I look back and realize how hard I loafted I’ll feel pretty bad about stuffs.
				</p>
				<p>
					Clearly I don’t do very much because my current site kind of sort of really doesn’t exist. 
				</p>
			</div>
		</div>
	</div>
	<div class="container-fluid margin-lr-35">
		<div class="col-md-12 dark-bg padding-tb-50"></div>
	</div>
</section>

<section id="featured-work">
	<div class="container-fluid white padding-tb-100 margin-lr-50 dark-bg">
		<div class="col-md-4 col-md-offset-1">
			<h2 class="featured-work--title large-text">Recent Work</h2>
			<p class="featured-work--blurb padding-tb-50">Do you believe in outerspace? I'm not sure I do, but I believe aliens live amongst us.</p>
			<div class="feature-navigation">
				<h3>Other Pieces</h3>
				<div class="row">
					<div class="col-md-2 padding-5">
						<%= image_tag 'sr-thumb.jpg', alt:'Software Reviews Thumb', class:'featured-work--thumb' %>
					</div>
					<div class="col-md-2 padding-5">
						<%= image_tag 'sr-thumb.jpg', alt:'Software Reviews Thumb', class:'featured-work--thumb' %>
					</div>
					<div class="col-md-2 padding-5">
						<%= image_tag 'sr-thumb.jpg', alt:'Software Reviews Thumb', class:'featured-work--thumb' %>
					</div>
					<div class="col-md-2 padding-5">
						<%= image_tag 'sr-thumb.jpg', alt:'Software Reviews Thumb', class:'featured-work--thumb' %>
					</div>
					<div class="col-md-2 padding-5">
						<%= image_tag 'sr-thumb.jpg', alt:'Software Reviews Thumb', class:'featured-work--thumb' %>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="featured-work--preview">
				<%= image_tag 'sr-preview.jpg', alt:'Software Reviews', class:'padding-50'%>
			</div>
		</div>
		<div class="col-md-1">
			<a href="#">
				<span class="fa fa-chevron-up featured-work--nav__back white"></span>
			</a>
			<a href="#">
				<div class="featured-work--nav-square active"></div>
			</a>
			<a href="#">
				<div class="featured-work--nav-square"></div>
			</a>
			<a href="#">
				<div class="featured-work--nav-square"></div>
			</a>
			<a href="#">
				<div class="featured-work--nav-square"></div>
			</a>
			<a href="#">
				<div class="featured-work--nav-square"></div>
			</a>
			<a href="#">
				<span class="fa fa-chevron-down featured-work--nav__forward white"></span>
			</a>
		</div>
	</div>
</section>

<section id="services" class="light-grey-bg">
	<div class="container-fluid margin-lr-35">
		<div class="col-md-12 dark-bg padding-tb-50"></div>
	</div>
	<div class="margin-lr-100 padding-tb-100 white-bg padding-lr-50">
		<div class="row">
			<div class="col-md-12">
				<h2 class="large-text light-grey">Services</h2>
				<p class="services--subtext dark-grey">What I Can Do</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="services--item padding-50">
					<span class="services--item__icon fa fa-chevron-right padding-50 yellow"></span>
					<h3 class="services--item__title light-grey">Branding</h3>
					<ul class="mid-grey">
						<li>Brand Identity</li>
						<li>Style Guide</li>
						<li>Corporate Identity</li>
						<li>Logo Design</li>
						<li>Social Media Marketing</li>
					</ul>
				</div>
			</div>
			<div class="col-md-3">
				<div class="services--item padding-50">
					<span class="services--item__icon fa fa-chevron-right padding-50 yellow"></span>
					<h3 class="services--item__title light-grey">Interactive</h3>
					<ul class="mid-grey">
						<li>Print and Editorial</li>
						<li>Web and Interactive</li>
						<li>Mobile Applications</li>
						<li>Packaging</li>
						<li>Infographics</li>
					</ul>
				</div>
			</div>
			<div class="col-md-3">
				<div class="services--item padding-50">
					<span class="services--item__icon fa fa-chevron-right padding-50 yellow"></span>
					<h3 class="services--item__title light-grey">Development</h3>
					<ul class="mid-grey">
						<li>UX/UI Design</li>
						<li>CMS</li>
						<li>HTML5</li>
						<li>CSS3/OOCSS/SCSS</li>
						<li>Javsacript</li>
					</ul>
				</div>
			</div>
			<div class="col-md-3">
				<div class="services--item padding-50">
					<span class="services--item__icon fa fa-chevron-right padding-50 yellow"></span>
					<h3 class="services--item__title light-grey">Creative</h3>
					<ul class="mid-grey">
						<li>Illustration</li>
						<li>Digital Painting</li>
						<li>Oil Painting</li>
						<li>Art Prints</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="recent" class="light-grey-bg">
	<div class="margin-lr-100 padding-top-100 white-bg padding-lr-50">
		<div class="row">
			<h2 class="large-text light-grey">Recents</h2>
			<div class="col-md-9 blog">
				<h2>Blog Posts</h2>
				<div class="row blog--top3">
					<div class="col-md-4 blog--post">
						<span>Category</span>
						<h3>This is a Blog Title. Cool!</h3>
						<p>This is the intro text to the blog post. I wonder what it will be...</p>
						<a href="#" class="recent--link">Read More</a>
					</div>
					<div class="col-md-4 blog--post blog--post__center">
						<span>Category</span>
						<h3>This is a Blog Title. Cool!</h3>
						<p>This is the intro text to the blog post. I wonder what it will be...</p>
						<a href="#" class="recent--link">Read More</a>
					</div>
					<div class="col-md-4 blog--post">
						<span>Category</span>
						<h3>This is a Blog Title. Cool!</h3>
						<p>This is the intro text to the blog post. I wonder what it will be...</p>
						<a href="#" class="recent--link">Read More</a>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 blog--post">
						<span>Category</span>
						<h3>This is a Blog Title. Cool!</h3>
						<p>This is the intro text to the blog post. I wonder what it will be...</p>
						<a href="#" class="recent--link">Read More</a>
					</div>
					<div class="col-md-4 blog--post blog--post__center">
						<span>Category</span>
						<h3>This is a Blog Title. Cool!</h3>
						<p>This is the intro text to the blog post. I wonder what it will be...</p>
						<a href="#" class="recent--link">Read More</a>
					</div>
					<div class="col-md-4 blog--post">
						<span>Category</span>
						<h3>This is a Blog Title. Cool!</h3>
						<p>This is the intro text to the blog post. I wonder what it will be...</p>
						<a href="#" class="recent--link">Read More</a>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<h2>Clients</h2>
				<div class="clients">
					<div class="row">
						<div class="col-md-12 clients--company">
							<h3>Refergle</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 clients--company">
							<h3>Oakview Appraisals</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 clients--company">
							<h3>Kitco Metals</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 clients--company">
							<h3>Upcycle Bowties</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 clients--company">
							<h3>Prana Homeopathy</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 clients--company">
							<h3>Sasquatch Studios</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 clients--company">
							<h3>DEVLDN</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="resume" class="effect6">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 text-center">
				<h2 class="resume--title white font-500">Interested in learning more?</h2>
				<a href="#" class="btn btn-lg btn-primary yellow">My Resume <span class="fa fa-blind"></span></a>
			</div>
		</div>
	</div>
</section>

<section id="contact" class="padding-tb-100">
	<div class="margin-lr-100">
		<div class="row">
			<div class="col-md-1">
				<div class="yellow-squares">
					<div class="square yellow-bg"></div>
					<div class="square yellow-bg"></div>
					<div class="square yellow-bg"></div>
					<div class="square yellow-bg"></div>
					<div class="square yellow-bg"></div>
				</div>
				<div class="orange-squares">
					<div class="square orange-bg"></div>
					<div class="square orange-bg"></div>
					<div class="square orange-bg"></div>
					<div class="square orange-bg"></div>
					<div class="square orange-bg"></div>
				</div>
			</div>
			<div class="col-md-10 text-center padding-lr-200">
				<h2 class="large-text light-grey">Be Heard</h2>
				<p class="padding-bottom-30">Like what you see? Maybe you just want to grab a coffee and talk about traveling to far off distant lands -- let's do it. Shoot me a message, I promise I'll get back to you as soon as possible. Like what you see? Maybe you just want to grab a coffee and talk about traveling to far off distant lands -- let's do it.</p>
				<form action="">
					<div class="row">
						<div class="col-md-6 no-padding">
							<input type="text" placeholder="Name" class="short-text">
							<input type="text" placeholder="Subject" class="short-text">
							<input type="text" placeholder="Email" class="short-text">
						</div>
						<div class="col-md-6 no-padding">
							<input type="textarea" placeholder="Message" class="long-text">
						</div>
					</div>
				</form>
				<a href="#" class="btn btn-primary pull-right">Get in Touch</a>
			</div>
			<div class="col-md-1 no-padding">
				<div class="yellow-squares secondary-squares">
					<div class="square yellow-bg"></div>
					<div class="square yellow-bg"></div>
					<div class="square yellow-bg"></div>
					<div class="square yellow-bg"></div>
					<div class="square yellow-bg"></div>
				</div>
				<div class="orange-squares secondary-squares">
					<div class="square orange-bg"></div>
					<div class="square orange-bg"></div>
					<div class="square orange-bg"></div>
					<div class="square orange-bg"></div>
					<div class="square orange-bg"></div>
				</div>
			</div>
		</div>
	</div>
</section>

<footer class="dark-bg white font-100">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3 footer-img">
				<%= image_tag 'logo.png', alt:'Logo'%>
			</div>
			<div class="col-md-9 padding-tb-75">
				<ul>
					<li class="footer--nav-item">Portfolio</li>
					<li class="footer--nav-item">About</li>
					<li class="footer--nav-item">Contact</li>
					<li class="footer--nav-item">Blog</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 text-center">
				<a href="#" class="dark-grey margin-5"><span class="footer-sm fa fa-linkedin white-bg"></span></a>
				<a href="#" class="dark-grey margin-5"><span class="footer-sm fa fa-instagram white-bg"></span></a>
				<a href="#" class="dark-grey margin-5"><span class="footer-sm fa fa-github white-bg"></span></a>
				<a href="#" class="dark-grey margin-5"><span class="footer-sm fa fa-pinterest-p white-bg"></span></a>
				<p>Made by Yours Truly</p>
			</div>
			<div class="col-md-9">
				<div class="col-md-3">1</div>
				<div class="col-md-3">2</div>
				<div class="col-md-3">3</div>
				<div class="col-md-3">4</div>
			</div>
		</div>
	</div>
</footer>